EFTEMj>EELS, "Import msa file", de.m_entrup.EFTEMj_SR_EELS.spectrum.EELS_SpectrumFromMsaPlugin

EFTEMj>SR-EELS, "Import measurement", de.m_entrup.EFTEMj_SR_EELS.importer.SR_EELS_ImportPlugin
EFTEMj>SR-EELS, "Run characterisation", de.m_entrup.EFTEMj_SR_EELS.characterisation.SR_EELS_CharacterisationPlugin
EFTEMj>SR-EELS, "Run correction", de.m_entrup.EFTEMj_SR_EELS.correction.SR_EELS_CorrectionPlugin
EFTEMj>SR-EELS, "-"
EFTEMj>SR-EELS, "Run setup", de.m_entrup.EFTEMj_SR_EELS.shared.SR_EELS_SetupPlugin