EFTEMj>SR-EELS, "import measurement", de.m_entrup.EFTEMj_SR_EELS.importer.SR_EELS_ImportPlugin
EFTEMj>SR-EELS, "run characterisation", de.m_entrup.EFTEMj_SR_EELS.characterisation.SR_EELS_CharacterisationPlugin
EFTEMj>SR-EELS, "run correction", de.m_entrup.EFTEMj_SR_EELS.correction.SR_EELS_CorrectionPlugin