EFTEMj, "start Elemental-Mapping-PlugIn", de.m_entrup.EFTEMj_ESI.plugin.PluginLoader
EFTEMj, "Measure Composite Image", de.m_entrup.EFTEMj_ESI.plugin.tools.MeasureCompositeImage
EFTEMj, "Measure DQE", de.m_entrup.EFTEMj_ESI.plugin.plugin.PluginDQE
EFTEMj, "Optimise Acquisition Times", de.m_entrup.EFTEMj_ESI.plugin.tools.OptimizeAcqTimes