Plugins>EFTEMj>EELS, "Import msa file", de.m_entrup.EFTEMj_EELS.importer.EELS_SpectrumFromMsaPlugin
Plugins>EFTEMj>EELS, "Import dm3 file", de.m_entrup.EFTEMj_EELS.importer.EELS_SpectrumFromDm3Plugin
Plugins>EFTEMj>EELS, "Spectrum from image", de.m_entrup.EFTEMj_EELS.importer.EELS_SpectrumFromImagePlugin
Plugins>EFTEMj>EELS, "Fit EELS backgrund", de.m_entrup.EFTEMj_EELS.fit.EELS_SpectrumFitPlugin
Plugins>EFTEMj>EELS, "Calibrate energy dispersion", de.m_entrup.EFTEMj_lib.tools.EnergyDispersionCalibrationPlugin
Plugins>EFTEMj>EELS, "Setup energy dispersion", de.m_entrup.EFTEMj_lib.tools.EnergyDispersionConfigurationPlugin